<div layout="column" layout-fill>
<md-toolbar scroll-shrink layout="row">
   <div class="md-toolbar-tools">
      <h2>
         <span>Quark</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Register" ng-click="authCtrl.reg()">
         <md-tooltip>Register</md-tooltip>
         <img src="images/register.png" style="width:24px;height:24px;"></md-icon>
      </md-button>
    </div>
</md-toolbar>

<div>
  <br><br><br>
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center" ng-cloak="ng-cloak">
      <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center">
        <md-card class="card-40-center">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>Login</span></h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="Form">
                    <md-input-container class="md-block">
                        <label>Login</label>
                        <input type="email" name="email" ng-model="authCtrl.user.email" placeholder="hello@quark.io" required="" />
                        <div ng-messages="Form.email.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your email.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="authCtrl.user.password" placeholder="password" required="" md-maxlength="20" />
                        <div ng-messages="Form.password.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your password.</div>
                            <div ng-message="md-maxlength" class="my-message">Password too long!</div>
                        </div>
                    </md-input-container>
                    <md-button ng-disabled="!Form.$valid" ng-click="authCtrl.login()" class="md-raised md-primary">&nbsp SignIn &nbsp</md-button>
                </form>
            </md-card-content>
        </md-card>
      </div>
    </md-content>
</div>
